{% extends "layout.html" %}

{% block title %}
  Home Page
{% endblock %}

{% block content %}
  <h1 class="bg-red-500 text-3xl">Chai aur Code | Home Page</h1>
<!-- <p class="text-center w-20 bg-green-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni inventore culpa ipsam, modi cupiditate ad repudiandae dicta est quae veritatis tempora. Ipsum quod dolores accusantium voluptatum illum corrupti cupiditate, mollitia deleniti natus ad illo libero nulla eum ratione. Veniam amet quae doloribus saepe nesciunt nisi nemo enim ipsa veritatis similique!</p> -->
 
{% endblock %}